<div class=row">
    <div class="col s12 m12 l4" style="margin-top: -20px;">
        <div class="col s12 m12 l6">
            <ul class="tabs" style="overflow-x: hidden;">
                <li class="tab col s6 m6 l6"><a href="#carlist" ng-click="vm.initialize();"><i class="fa fa-truck" style="margin-right:2%"></i>Vehicle List</a></li>
                <li class="tab col s6 m6 l6"><a ng-click="vm.map_initialize();" href="#carmapping">Map</a></li>
            </ul>
        </div>
    </div>

    <div id="carlist" style="margin-top:1em; text-align: center;">
        <table class="highlight" ng-if="vm.car_details_full">
            <thead class="tablehead">
                <tr>
                    <td>PLATE NO</td>
                    <td>DRIVER NAME</td>
                    <td>GROUP NAME</td>
                    <td>SPEED</td>
                    <td>FUEL</td>
                    <td>TODAY MILLEAGE</td>
                    <td>IGNITION</td>
                    <td>LOCATION</td>
                    <td><a href="" ng-click="vm.user_setting_modal()"><i class="fa fa-cogs fa-2x white-text"></i></a></td>
                    <!--<td ng-if="user.response.settings.plate_number">PLATE NO</td>
                    <td ng-if="user.response.settings.driver_name">DRIVER NAME</td>
                    <td ng-if="user.response.settings.group_name">GROUP NAME</td>
                    <td ng-if="user.response.settings.speed">SPEED</td>
                    <td ng-if="user.response.settings.fuel">FUEL</td>
                    <td ng-if="user.response.settings.total_mileage">TODAY MILLEAGE</td>
                    <td ng-if="user.response.settings.ignition">IGNITION</td>
                    <td ng-if="user.response.settings.location">LOCATION</td>
                    <td ng-if="vm.current_tab === 'list'"><a href="" ng-click="vm.user_setting_modal()"><i class="fa fa-cogs fa-2x white-text" style="margin-left:1%"></i></a></td>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="car_detail in vm.car_details_full" ng-click="vm.view_specific_vehicle($index)">
                    <td>{{car_detail.data[0].carNO}}</td>
                    <td ng-if="car_detail.data[0].driver">{{car_detail.data[0].driver}}</td>
                    <td ng-if="!car_detail.data[0].driver">No Name</td>
                    <td>{{car_detail.data[0].group}}</td>
                    <td>{{car_detail.data[0].speed}}</td>
                    <td ng-if="car_detail.data[0].fuel">{{car_detail.data[0].fuel}}</td>
                    <td ng-if="!car_detail.data[0].fuel">0</td>
                    <td>{{car_detail.data[0].mileage}}km</td>
                    <td ng-if="car_detail.data[0].status">{{car_detail.data[0].status}}</td>
                    <td ng-if="!car_detail.data[0].status">Not Indicated</td>
                    <td ng-if="car_detail.data[0].address">{{car_detail.data[0].address}}</td>
                    <td ng-if="!car_detail.data[0].address">No Address</td>
                    <td></td>
                    <td ng-if="user.response.settings.plate_number">{{car_detail.data[0].carNO}}</td>
                    <td ng-if="user.response.settings.driver_name && car_detail.data[0].driver">{{car_detail.data[0].driver}}</td>
                    <td ng-if="user.response.settings.driver_name && !car_detail.data[0].driver">No Name</td>
                    <td ng-if="user.response.settings.group_name">{{car_detail.data[0].group}}</td>
                    <td ng-if="user.response.settings.speed">{{car_detail.data[0].speed}}</td>
                    <td ng-if="user.response.settings.fuel">{{car_detail.data[0].fuel}}</td>
                    <td ng-if="user.response.settings.total_mileage">{{car_detail.data[0].mileage}}km</td>
                    <td ng-if="user.response.settings.ignition && car_detail.data[0].status">{{car_detail.data[0].status}}</td>
                    <td ng-if="user.response.settings.ignition && !car_detail.data[0].status">Not Indicated</td>
                    <td ng-if="user.response.settings.location && car_detail.data[0].address">{{car_detail.data[0].address}}</td>
                    <td ng-if="user.response.settings.location && !car_detail.data[0].address">No Address</td>
                </tr>
            </tbody>
        </table>
        <div class="preloader-wrapper medium active" ng-if="!vm.car_details_full">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m12 l12" id="carmapping">
        <div class="row" style="margin-bottom: 0px; margin-top:15px;">
            <div class="col s12 m12 l4">
                <h5>Vehicle Details</h5>
                <div class="row" style="font-size:100%;">
                    <div class="row">
                        <div class="col s3">FLEET</div>
                        <div class="col s1">:</div>
                        <div class="col s8"><b>{{vm.car_details_full[vm.index].data[0].group}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col s3">PLATE NO</div>
                        <div class="col s1">:</div>
                        <div class="col s8"><b>{{vm.car_details_full[vm.index].data[0].carNO}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col s3">DRIVER</div>
                        <div class="col s1">:</div>
                        <div class="col s8" ng-if="vm.car_details_full[vm.index].data[0].driver"><b>{{vm.car_details_full[vm.index].data[0].driver}}</b></div>
                        <div class="col s8" ng-if="!vm.car_details_full[vm.index].data[0].driver"><b>No Name</b></div>
                    </div>
                    <div class="row">
                        <div class="col s3">SPEED</div>
                        <div class="col s1">:</div>
                        <div class="col s8">
                            <b ng-style="vm.car_details_full[vm.index].data[0].speed > 99 && {'color':'red'} ||  {'color':'black'}">
                                {{vm.car_details_full[vm.index].data[0].speed}} km/h
                            </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">ADDRESS</div>
                        <div class="col s1">:</div>
                        <div class="col s8" ng-if="vm.car_details_full[vm.index].data[0].address"><b>{{vm.car_details_full[vm.index].data[0].address}}</b></div>
                        <div class="col s8" ng-if="!vm.car_details_full[vm.index].data[0].address"><b>N/A</b></div>
                    </div>
                </div>

                <div class="row">
                    <h5>Tyre Details</h5>
                    <div class="col l4">
                        <div class="row center" style="position:relative;">
                            <div>23</div>
                            <img src="/assets/image/tyre_green.png" style="height:50px"/>
                        </div>
                        <div class="row center" style="position:relative;">
                            <div>24</div>
                            <img src="/assets/image/tyre_green.png" style="height:50px"/>
                        </div>
                    </div>     
                    <div class="col s4">
                        <div class="row">
                            <div class="col s6 center" style="position:relative;">
                                <div>21</div>
                                <img src="/assets/image/tyre_green.png" style="height:50px"/>
                            </div>
                            <div class="col s6 center" style="position:relative;">
                                <div>23</div>
                                <img src="/assets/image/tyre_green.png" style="height:50px"/>
                            </div>                       
                        </div>
                        <div class="row">
                            <div class="col s6 center" style="position:relative;">
                                <div>18</div>
                                <img src="/assets/image/tyre_blue.png" style="height:50px"/>
                            </div>
                            <div class="col s6 center" style="position:relative;">
                                <div>23</div>
                                <img src="/assets/image/tyre_green.png" style="height:50px"/>
                            </div>                           
                        </div>
                    </div>     
                    <div class="col s4" ng-if="vm.number_wheels === 10">
                        <div class="row">
                            <div class="col s6 center" style="position:relative;">
                                <div>31</div>
                                <img src="/assets/image/tyre_red.png" style="height:50px"/>
                            </div>
                            <div class="col s6 center" style="position:relative;">
                                <div>13</div>
                                <img src="/assets/image/tyre_blue.png" style="height:50px"/>
                            </div>               
                        </div>
                        <div class="row">
                            <div class="col s6 center" style="position:relative;">
                                <div>23</div>
                                <img src="/assets/image/tyre_green.png" style="height:50px"/>
                            </div>
                            <div class="col s6 center" style="position:relative;">
                                <div>19</div>
                                <img src="/assets/image/tyre_blue.png" style="height:50px"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l8 card" style="margin: 0; padding: 0; height: calc(100vh - 171px);">
                <div id="map_home"></div>
            </div>
        </div>
    </div>
</div>

<div id="user_setting_modal" class="modal">
    <div class="modal-content">
        <h4 style="text-align:center;">View Setting</h4>
        <div class="row">
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.plate_number">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Plate Number</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.driver_name">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Drive Name</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.group_name">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Group Name</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.time">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Time</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.speed">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Speed</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.fuel">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Fuel</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.total_mileage">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Today Mileage</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.ignition">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Ignition</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.location">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Location</span>
                </div>
            </div>
            <div class="col s12 m12 l5 push-l1">
                <div class="switch alarmswitch">
                    <label>
                        Off
                        <input type="checkbox" ng-model="user.response.settings.start_time">
                        <span class="lever"></span>
                        On
                    </label>
                    <span class="switch_label">Starting Time</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action waves-effect waves-green btn-flat" ng-click="vm.update_setting()">Update</a>
    </div>
</div>