<div style="padding: 1em 2em 0em 2em">
	 <div class="row ">
        <div class="col s12">
            <div class="card">
                <div class="title">
                    <h5>User Accounts</h5>
                    <div class="btn-group right">
                        <a class="btn green lighten-1 z-depth-0 modal-trigger" ng-click="vm.add_modal()"><i class="fa fa-plus"></i></a>
                        <!--<a class="btn red lighten-1 z-depth-0"><i class="fa fa-trash"></i></a>-->
                    </div>
                </div>
                <div class="content">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <!--<th data-field="">Select</th>-->
                                <th data-field="u_id">User ID</th>
                                <th data-field="sku">Username</th>
                                <th data-field="image">Email</th>
                                <th data-field="name">Role</th>
                                <!--<th data-field="status">Status</th>-->
                                <th data-field="">Group</th>
                                <th data-field="">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in vm.users">
                                <!--<th>
                                    <input type="checkbox" id="{{user.userID}}"/>
                                    <label for="{{user.userID}}"></label>
                                </th>-->
                                <th>{{user.id}}</th>
                                <th>{{user.username}}</th>
                                <td>{{user.email}}</td>
                                <td ng-if="user.f_username === 'sa'">Admin</td> 
                                <td ng-if="user.f_username !== 'sa' && user.username !=='sa'">User</td>
                                <td  ng-if="user.username =='sa'">Super Admin</td>
                                <td ng-if="user.username === 'sa'">Not Available</td>
                                <td ng-if="user.username !== 'sa'">
                                    <a class="btn z-depth-0 blue lighten-1" ng-click="vm.usergroup_view_modal(user)">
                                        <i class="fa fa-object-group"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn z-depth-0 blue lighten-1" ng-click="vm.user_view_modal(user)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="user_registration_modal" class="modal">
    <div class="modal-content">
        <div>
            <div class="center">
                <p class="flow-text">Create a new account</p>
            </div>
            <div class="row">
                <div class="col l6 s12 input-field">
                    <input id="new-username" type="text" ng-model="vm.user.username">
                    <label for="new-username">Your username</label>
                </div>
                <div class="col l6 s12 input-field">
                    <input id="new-your-email" type="text" ng-model="vm.user.email">
                    <label for="new-your-email">Your email address</label>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12 input-field">
                    <input id="new-your-password" type="password" ng-model="vm.user.password">
                    <label for="new-your-password">Pick a password</label>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12 input-field">
                    <input id="new-your-tel" type="text" ng-model="vm.user.tel">
                    <label for="new-your-tel">Your telephone number</label>
                </div>
                <!--<div class="col l6 s12 input-field">
                    <select class="browser-default" ng-model="vm.user.canmanagechild">
                        <option value="" disabled selected>Choose a role</option>
                        <option value="1">Administrator</option>
                        <option value="2">Cooperate User</option>
                        <option value="3">General User</option>
                    </select>
                </div>-->
            </div>
            <div class="row center">
                <button class="btn" ng-click="vm.register('add')">Create Account</button>
            </div>
        </div>
    </div>
</div>

<div id="user_edit_modal" class="modal">
    <div class="modal-content">
        <div>
            <div class="center">
                <p class="flow-text">Edit account</p>
            </div>
            <div class="row">
                <div class="col l6 s12 input-field">
                    <input id="new-username" type="text" disabled ng-model="vm.user_edit.userName">
                    <label for="new-username" class="active">Your username</label>
                </div>
                <div class="col l6 s12 input-field">
                    <input id="new-your-email" type="text" ng-model="vm.user_edit.email">
                    <label for="new-your-email" class="active">Your email address</label>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12 input-field">
                    <input id="new-your-password" type="password" ng-model="vm.user_edit.password">
                    <label for="new-your-password" class="active">Pick a password</label>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12 input-field">
                    <input id="new-your-tel" type="text" ng-model="vm.user_edit.tel">
                    <label for="new-your-tel" class="active">Your telephone number</label>
                </div>
                <!--<div class="col l6 s12 input-field" ng-if="vm.user_edit.userName !== 'sa'">
                    <select class="browser-default" ng-model="vm.user_edit.canmanagechild">
                        <option value="1" ng-selected="vm.user_edit.canmanagechild === 1">1</option>
                        <option value="2" ng-selected="vm.user_edit.canmanagechild === 2">2</option>
                        <option value="3" ng-selected="vm.user_edit.canmanagechild === 3">3</option>
                    </select>
                </div>-->
            </div>
            <div class="row center">
                <button class="btn" ng-click="vm.register('edit')">Update Account</button>
                <button class="btn" ng-click="vm.user_delete(vm.user_edit.userName)">Delete Account</button>
            </div>
        </div>
    </div>
</div>

<div id="usergroup_edit_modal" class="modal">
    <div class="modal-content">
        <div>
            <div class="center">
                <p class="flow-text">Set Group</p>
            </div>
            <div class="row">
                <div class="col l12 s12 input-field">
                    <input id="new-username" type="text" disabled ng-model="vm.user_edit.userName">
                    <label for="new-username" class="active">Your username</label>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12 input-field">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th data-field="select">Select</th>
                                <th data-field="sku">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="group in vm.groups">
                                <th>
                                    <input type="checkbox" id="{{group.id}}" ng-checked="group.check" ng-model="group.check"/>
                                    <label for="{{group.id}}"></label>
                                </th>
                                <th>{{group.title}}</th>
                            </tr>                    
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="divider"></div> 
            <div class="row center">
                <button class="btn" style="margin-top:1em;" ng-click="vm.group_save_user(vm.user_edit.userName, vm.groups)">Save Group</button>
            </div>
        </div>
    </div>
</div>