<div class="row" ng-if="user === false || user_check === 3">
    <div class="col s12 m12 l12 center" style="margin-top:2%">
        <b style="font-size:140%">GPS MONITORING SYSTEM - Web Login</b><br/>
        <img class="responsive-img" style="height:200px" src="/assets/image/logo.png">
    </div>
    <div class="card col s12 m12 l4 offset-l4">
        <div class="card-content">
            <div class="row">
                <div class="input-field">
                    <input id="username" type="text" ng-model="vm.user.username">
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password" ng-model="vm.user.password">
                    <label for="password">Password</label>
                </div>
                <div class="col s12 m12 l12 center">
                    <div class="col s12 m5 l5 modal-trigger" ng-if="!vm.log">
                        <a class="btn waves-light" ng-click="vm.forget_password_modal()">Reset</a>
                    </div>
                    <div class="col s12 m5 l5 push-l2" ng-if="!vm.log">
                        <button class="btn waves-light" ng-click="vm.login()">Login</button>
                    </div>
                    <div class="col s12 m12 l12" style="text-align:center;" ng-if="vm.log">
                        <div class="preloader-wrapper medium active" >
                            <div class="spinner-layer spinner-blue">
                                <div class="circle-clipper left">
                                <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-red">
                                <div class="circle-clipper left">
                                <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-yellow">
                                <div class="circle-clipper left">
                                <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-green">
                                <div class="circle-clipper left">
                                <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/home/forgot_password.html'" ng-if="user === false || user_check === 3"></div>

<div class="row" style="text-align:center; padding-top:10em;">
    <div class="preloader-wrapper medium active" ng-if="user !== false && user_check !== 3">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
            <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
            </div><div class="circle-clipper right">
            <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
            <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
            </div><div class="circle-clipper right">
            <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
            <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
            </div><div class="circle-clipper right">
            <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
            <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
            </div><div class="circle-clipper right">
            <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
