<div class="row">
    <div class="col s12 m12 l12 center" style="margin-top:2%">
        <b style="font-size:140%">GPS MONITORING SYSTEM - Web Login</b><br/>
        <img class="responsive-img" style="height:200px" src="/assets/image/logo.jpg">
    </div>
    <div class="card col s12 m12 l4 offset-l4">
        <div class="card-content">
            <div class="row">
                <div class="input-field">
                    <input id="username" type="text" ng-model="vm.user.username">
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password" ng-model="vm.user.password">
                    <label for="password">Password</label>
                </div>
                <div class="col s12 m12 l12 center">
                    <div class="col s12 m5 l5 modal-trigger">
                        <a class="btn waves-light" ng-click="vm.forget_password_modal()">Reset</a>
                    </div>
                    <div class="col s12 m5 l5 push-l2">
                        <a class="btn waves-light" ng-click="vm.login()">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/home/forgot_password.html'"></div>
