<div class="row">
    <div class="col s12 m12 l12 center" style="margin-top:2%">
        <b style="font-size:140%">GPS MONITORING SYSTEM - Web Login</b><br/>
        <img class="responsive-img" style="height:200px" src="/assets/image/logo.jpg">
    </div>
    <div class="card col s12 m12 l4 offset-l4" ng-if="vm.validated === 0">
        <p class="flow-text center">Validating Token</p>
        <div class="card-content center">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col s12 m12 l4 offset-l4" ng-if="vm.validated === 1">
        <p class="flow-text center">Reset Password</p>
        <div class="card-content">
            <div class="row">
                <div class="input-field">
                    <input id="new_password" type="password" ng-model="vm.password.new_password">
                    <label for="new_password">Your new password</label>
                </div>
                <div class="input-field">
                    <input id="confirm_new_password" type="password" ng-model="vm.password.confirm_new_password">
                    <label for="confirm_new_password">Confirm new password</label>
                </div>
                <div class="col s12 m12 l12 center">
                    <div class="center">
                        <a class="btn waves-light" ng-click="vm.reset_password(vm.password)">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col s12 m12 l4 offset-l4" ng-if="vm.validated === 2">
        <p class="flow-text center"><b>Token Expired</b></p>
        <div class="card-content center">
            <a href="/" class="btn waves-light">Go Home</a>
        </div>
    </div>
    <div class="card col s12 m12 l4 offset-l4" ng-if="vm.validated === 3">
        <p class="flow-text center">Password Updated</p>
        <div class="card-content center">
            <a href="/" class="btn waves-light">Go Login</a>
        </div>
    </div>
</div>